{% extends "base.html" %}

{% block customCSS %}
    <link href="{{ url_for('static', filename="css/cardStyle.css") }}" rel="stylesheet"/>
{% endblock %}

{%block name%}
Tweets
{%endblock%}
{%block vat_active%}
active
{%endblock%}

{% block content %}


<div class="row">
    <div class="col-md-12">
        <button class="btn btn-info btn-md"  data-toggle="modal" data-target="#myModal">
            <a href={{ url_for('view_sentiment_analysis', datasource="Topic", key=key) }}>View Sentiment</a>
        </button>
    </div>
    </br>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">Topic # {{ key }}</h4>
                <p class="category">Words</p>
                <form action="/download" method="post" enctype="multipart/form-data">
                    <input type="text" name="download_data" value="download_topic_words" hidden/>
                    <input type="text" name="key" value={{ key }} hidden/>
                    <input id="submit" type="submit" class="btn btn-info col-md-2 pull-right" Title="FIlename: topic_{{ key }}_words"
                           Value="Download Words">
                </form>
            </div>
             <div class="content table-responsive table-full-width">
                <table class="table table-striped">
                    <thead>
                        <th class="col-md-3">Word</th>
                        <th class="col-md-1">Score</th>
                        <th class="col-md-3">Word</th>
                        <th class="col-md-1">Score</th>
                        <th class="col-md-3">Word</th>
                        <th class="col-md-1">Score</th>
                    </thead>
                    <tbody>
                        {% for topic_row in topic['words'] | batch(3, '&nbsp;')  %}
                            <tr>
                                {% for tup in topic_row %}
                                    <td>{{ tup['word'] }}</td>
                                    <td>{{ tup['score'] }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{#{% block content %}#}
{##}
{#{% endblock %}#}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">Topic # {{ key }}</h4>
                <p class="category">Number of Tweets: {{ topic['topic_tweets']|length }}</p>
                <div class="row justify-content-center">
                    Candidates Mentioned:
                    {% for cand in candidates_mentioned %}
                        <a class="username" href="{{ url_for('view_candidate_data',candidate_name=cand, datasource="topic", key=key) }}">{{ cand | capitalize }}</a>
                    {% endfor %}
                </div>
                <form action="/download" method="post" enctype="multipart/form-data">
                    <input type="text" name="download_data" value="download_topic_tweets" hidden/>
                    <input type="text" name="key" value={{ key }} hidden/>
                    <input id="submit" type="submit" class="btn btn-info col-md-2 pull-right" Title="FIlename: topic_{{ key }}_tweets"
                           Value="Download Tweets">
                </form>
            </div>
            <div class="content table-responsive table-full-width">
                <table class="table table-striped table-bordered" cellspacing="0" width="100%" id="myTable">
                    <thead>
                        <th class="col-md-12">Tweet</th>
                    </thead>
                    <tbody>
                        {% for tweet in topic['topic_tweets']%}
                            <tr>
                                <td>
                                    <a href="{{ url_for('view_specific_tweet', tweet_id=tweet['_id'])}}"> View Tweet</a>
                                    </br>
                                    {% for word in tweet['tweet'] %}
                                        {% if word[:1] != '@' %}
                                            {{ word }}
                                        {% else %}
                                           <a class="username_link" href="{{ url_for('view_specific_user', user_id=word[1:])}}"> <i>{{ word }}</i></a>
                                        {% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block customJS %}
    <script>
        $(document).ready(function(){
            $('#myTable').DataTable();
        });
    </script>
{% endblock %}