{% extends "base.html" %}
{% block customCSS %}

    <link href="{{ url_for('static', filename="css/cardStyle.css") }}" rel="stylesheet"/>
    <style>
        .title.custom {
            font-size: 30px;
        }
    </style>
{% endblock %}

{% block name %}
    Tweet
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title custom">{{ "Top" }} {{ tf_idf | length }} {{ "Unigrams" }}</h4>
                        <br/>
                        <form class="col-md-12" action="/download" method="post" enctype="multipart/form-data">
                            <input type="text" name="download_data" value="download_topic_ngrams" hidden/>
                            <input type="text" name="data_value" value={{ tf_idf }} hidden/>
                            <input id="submit" type="submit" class="btn btn-info col-md-12"
                                   Title="Filename: topic_ngrams"
                                   Value="Download N-grams">
                        </form>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-striped">
                            <thead>
                            <th class="col-md-1">Number</th>
                            <th class="col-md-6">Word</th>
                            <th class="col-md-5">Score</th>
                            </thead>
                            <tbody>
                            {% for key, value in tf_idf.items() %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ key }}</td>
                                    <td>{{ value }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <img src="{{ url_for('get_word_cloud') }}" alt="wordcloud" class="img-thumbnail">
        </div>
    </div>
{% endblock %}

{% block customJS %}

{% endblock %}