{% extends "base.html" %}
{% block customCSS %}
    <style>
        .table th, .table td{
           text-align: center;
        }
    </style>
{% endblock %}

{%block name%}
Candidate Analysis
{%endblock%}

{% block content %}
<div class="row">
    <div class="col-md-12">
    <div class="panel panel-default" >
      <div class="panel-heading">Filter Data</div>
      <div class="panel-body">
          <form action="upload" method="post" enctype="multipart/form-data">
            date picker should be here

            <input type="submit" class="btn btn-info" Value="Upload">
            <button type="reset" class="btn btn-default">Reset</button>
          </form>
      </div>
    </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">Visualizing for: *candidate name*</h4>
                <p class="category">Here are all the tweets from *date start* to *date end*</p>
            </div>
            <div class="content table-responsive table-full-width">
                <table class="table table-striped">
                    <thead>
                        <th class="col-md-5">Tweet</th>
                        <th class="col-md-2">Candidate Name</th>
                        <th class="col-md-5">Tweet</th>
                    </thead>
                    <tbody>
{#                        {% for dataFile in dataFileList %}#}
                        <tr>
                            <td>*tweet before candidate name*</td>
                            <td>candidate name</td>
                            <td>*tweet after candidate name*</td>
                        </tr>
{#                        {% endfor %}#}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block customJS %}
    <script>

     $('.datepicker').datepicker({

             weekStart:1,

             color: '{color}'

    });

    </script>
{% endblock %}