{% extends "base.html" %}
{% block customCSS %}
    <link href="{{ url_for('static', filename="css/cardStyle.css") }}" rel="stylesheet"/>
    <style>
        .title.custom{
            font-size: 30px;
        }
    </style>
{% endblock %}

{%block name%}
Analyze Data
{%endblock%}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <form action="new_workspace" method="post" enctype="multipart/form-data">
        <div class="card" >
{#            <div class="panel-heading title custom">Initial Analysis Settings</div>#}
            <div class="header">
                <h4 class="title custom">Analysis Settings</h4>
{#                <p class="category custom">Tweet</p>#}
            </div>
            <hr/>
              <div class="panel-body">
              <div class="form-group col-md-4">
                  <label for="sel1" class="col-md-12">First Level</label>
                  <select name="first-level" class="form-control col-md-12" id="sel1">
                    <option value="candidate" selected>Candidate</option>
                    <option value="topic">Topic</option>
                    <option value="sentiment">Sentiment</option>
                  </select>
              </div>
              <div class="form-group col-md-4">
                  <label for="sel1" class="col-md-12">Second Level</label>
                  <select name="second-level" class="form-control col-md-12" id="sel1">
                    <option value="none">None</option>
                    <option value="candidate">Candidate</option>
                    <option value="topic">Topic</option>
                    <option value="sentiment">Sentiment</option>
                  </select>
              </div>
              <div class="form-group col-md-4">
                  <label for="sel1" class="col-md-12">Third Level</label>
                  <select name="third-level" class="form-control col-md-12" id="sel1">
                    <option value="none">None</option>
                    <option value="candidate">Candidate</option>
                    <option value="topic">Topic</option>
                    <option value="sentiment">Sentiment</option>
                  </select>
              </div>
              </br>
              </br>
              <div class="form-group col-md-12">
                  <label for="sel1" class="col-md-12">Analyze for Candidate:</label>
                  <select name="candidate-name" class="form-control col-md-12" id="sel1">
                    {% for cname in candidate_names %}
                        <option value={{ cname }}>{{ cname | capitalize }}</option>
                    {% endfor %}
                  </select>
              </div>
{#              <div class="form-group col-md-6">#}
{#                  <label for="sel1" class="col-md-6">Workspace</label>#}
{#                  <select name="use-workspace-name" class="form-control col-md-12" id="sel1">#}
{#                    <option value="create">Create New</option>#}
{#                    {% for workspace in workspace_list %}#}
{#                        <option value={{ workspace['name'] }}>{{ workspace['name'] | capitalize }}</option>#}
{#                    {% endfor %}#}
{#                  </select>#}
{#              </div>#}
{#              <div class="form-group col-md-6">#}
{#                  <label for="sel1" class="col-md-6">New Workspace Name</label>#}
{#                  <input type="text" name="new-workspace-name" class="form-control col-md-12" value="Default"/>#}
{#              </div>#}
              <input type="submit" class="btn btn-info col-md-2 pull-right" Value="Analyze">
              </div>
            </div>
         </form>
    </div>
</div>

{% endblock %}

{% block customJS %}
{% endblock %}