{% extends "base.html" %}
{% block customCSS %}
    <!--  Paper Dashboard core CSS    -->
    <link href="{{ url_for('static', filename="css/customized.css") }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename="css/cardStyle.css") }}" rel="stylesheet"/>
{%  endblock %}

{%block name%}
Dashboard
{%endblock%}

{% block content %}
<div class="row">
    <div class="col-md-12">
         {% for c in range(0, counter_names | length) %}
        <div class="col-md-4">
            <div class="card">
                <div class="header">
                    <h4 class="title custom"> {{ counter_data[c] }}</h4>
                    <p class="category custom">{{ counter_names[c] + 's' | capitalize }}</p>
                </div>
                </br>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block customJS %}
{% endblock %}