{% extends "base.html" %}
{% block customCSS %}
    <!--  Paper Dashboard core CSS    -->
    <link href="{{ url_for('static', filename="css/customized.css") }}" rel="stylesheet"/>
    <style>
        .title, .category{
            text-align:center;
        }
        .title.custom{
            color: #7A9E9F;
            font-size: 50px;
        }
        .category.custom{
            word-spacing: 10px;
            text-transform:uppercase;
        }
    </style>
{%  endblock %}

{%block name%}
Dashboard
{%endblock%}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="col-md-4">
            <div class="card">
                <div class="header">
                    <h4 class="title custom">{{ username_count }}</h4>
                    <p class="category custom">Username</p>
                </div>
                </br>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="header">
                    <h4 class="title custom">{{ tweet_count }}</h4>
                    <p class="category custom">Tweets</p>
                </div>
                </br>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="header">
                    <h4 class="title custom">{{ data_count }}</h4>
                    <p class="category custom">Files</p>
                </div>
            </br>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block customJS %}
{% endblock %}