{% extends "base.html" %}
{% block customCSS %}
    <style>
        .table th, .table td{
           text-align: center;
        }
    </style>
{% endblock %}

{%block name%}
Tweets
{%endblock%}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">Cleaned Tweets in the Database</h4>
                <p class="category">Here are all the tweets</p>
            </div>
            <div class="content table-responsive table-full-width">
                <table class="table table-striped">
                    <thead>
                        <th class="col-md-4">Tweet</th>
                        <th class="col-md-4">Tweet</th>
                        <th class="col-md-4">Tweet</th>
                    </thead>
                    <tbody>
                        {% for tweet_row in tweetFileList | batch(3, '&nbsp;') %}
                            <tr>
                                {% for tweet in tweet_row %}

                                    <td>{{ tweet['_id'] }}
                                        </br>
                                        {{ tweet['tweet'] }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block customJS %}

{% endblock %}