{% extends "base.html" %}
{% block customCSS %}
    <style>
        .table th, .table td{
           text-align: center;
        }
    </style>
{% endblock %}

{%block name%}
All Tweets
{%endblock%}

{% block content %}
<div class="row">
    <div class="col-md-12">
        some numbers about the tweets
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">Tweets in the Database</h4>
                <p class="category">Here are all the tweets from *date start* to *date end*</p>
            </div>
            <div class="content table-responsive table-full-width">
                <table class="table table-striped">
                    <thead>
                        <th class="col-md-4">Tweet</th>
                        <th class="col-md-4">Tweet</th>
                        <th class="col-md-4">Tweet</th>
                    </thead>
                    <tbody>
                        {% for dataFile in tweetFileList %}
                            {% set loop_index_3 = loop.index + 1 %}
                        <tr>
                            <td>{{ dataFile['tweet'] }}</td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block customJS %}
{% endblock %}