{% extends "base.html" %}
{% block customCSS %}

    <link href="{{ url_for('static', filename="css/cardStyle.css") }}" rel="stylesheet"/>
    <style>
        .title.custom{
            font-size: 30px;
        }
    </style>
{% endblock %}

{%block name%}
Tweet
{%endblock%}

{% block content %}
{% set candidate_name = candidate_data['candidate_name'] %}
<div class="row">
    <div class="col-md-12">
        <button class="btn btn-info btn-md"><a href={{ url_for('view_topic_analysis', datasource="candidate", candidate_name=candidate_name) }}>Determine Topics</a></button>
        <button class="btn btn-info btn-md"><a href={{ url_for('view_sentiment_analysis', datasource="Candidate", candidate_name=candidate_name) }}>View Sentiment</a></button>
    </div>
    </br>
</div>
    <div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title custom">{{ candidate_data['candidate_name'] | capitalize }}</h4>
                <p class="category custom">Here are all the names</p>
            </div>
            <div class="content table-responsive table-full-width">
                <table class="table table-striped">
                    <thead>
                        <th class="col-md-3">Name</th>
                        <th class="col-md-1">Count</th>
                        <th class="col-md-3">Name</th>
                        <th class="col-md-1">Count</th>
                        <th class="col-md-3">Name</th>
                        <th class="col-md-1">Count</th>
                    </thead>
                    <tbody>
                        {% for cname_row in candidate_data['kb_names'] | batch(3, '&nbsp;') %}
                            <tr>
                                {% for cname in cname_row %}
                                    {% if cname != '&nbsp;' %}
                                        <td>{{ cname }}</td>
                                        <td>{{ candidate_name_count[cname] }}</td>
                                    {% else %}
                                        <td></td>
                                        <td></td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    </div>
<div class="row">
    <div class="col-md-12">
         <div class="card">
            <div class="header">
                <h4 class="title custom">CONCORDANCER</h4>
                <p class="category custom">{{ candidate_tweets | length }} Tweets</p>
            </div>
            <div class="content table-responsive table-full-width">
                <table class="table table-striped">
                    <thead>
                        <th class="col-md-4">Tweet</th>
                        <th class="col-md-4">Name</th>
                        <th class="col-md-4">Tweet</th>
                    </thead>
                    <tbody>
                        {% if candidate_tweets == [] %}
                            <tr><td>No Tweets</td><td>to</td><td>show</td></tr>
                        {% else %}
                            {% for tweet in candidate_tweets %}
                                {% set t = tweet['tweet'] %}
                                <tr>
                                    <td> {% for word in t[0:tweet['cand_ana'][candidate_name]] %}
                                            {% if word[:1] != '@' %}
                                                {{ word }}
                                            {% else %}
                                               <a class="username_link" href="{{ url_for('view_specific_user', user_id=word[1:])}}"> <i>{{ word }}</i></a>
                                            {% endif %}
                                         {% endfor %}
                                    </td>
                                    <td>
                                        {{ t[tweet['cand_ana'][candidate_name]] }}
                                        </br>
                                        <a href="{{ url_for('view_specific_tweet', tweet_id=tweet['_id'])}}"> View Tweet</a>
                                    </td>
                                    <td>
                                        {% for word in t[tweet['cand_ana'][candidate_name]+1:]  %}
                                            {% if word[:1] != '@' %}
                                                {{ word }}
                                            {% else %}
                                               <a class="username_link" href="{{ url_for('view_specific_user', user_id=word[1:])}}"> <i>{{ word }}</i></a>
                                            {% endif %}
                                         {% endfor %}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block customJS %}

{% endblock %}