{% extends "base.html" %}
{% block customCSS %}
    <link href="{{ url_for('static', filename="css/cardStyle.css") }}" rel="stylesheet"/>
    <style>
        .title.custom{
            font-size: 25px;
        }
    </style>
{% endblock %}

{%block name%}
User
{%endblock%}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="col-md-4">
            <div class="card">
                <div class="header">
                    <h4 class="title custom">{{ userData['numMentions'] }}</h4>
                    <p class="category custom">Mentions</p>
                </div>
                </br>
            </div>
        </div>
         <div class="col-md-4">
            <div class="card">
                <div class="header">
                    <h4 class="title custom">{{ userData['username'] }}
                    </h4>
                    <p class="category custom">{{ userData['_id'] }}</p>
                </div>
                </br>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="header">
                    <h4 class="title custom">{{ userData['numTweets'] }}</h4>
                    <p class="category custom">Tweets</p>
                </div>
            </br>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="header">
                <h4 class="title custom">User Mentioned</h4>
                <p class="category custom">Tweets</p>
            </div>
            <div class="content table-responsive table-full-width">
                <table class="table table-striped">
                    <thead>
                        <th class="col-md-12"></th>
                    </thead>
                        {% if user_mentioned_tweet_list == [] %}
                            <tr><td>No Tweets</td></tr>
                        {% else %}
                            {% for tweet in user_mentioned_tweet_list %}
                                <tr>
                                    <td>
                                        <a href="{{ url_for('view_specific_tweet', tweet_id=tweet['_id'])}}"> View Tweet</a>
                                        </br>
    {#                                    {{ tweet['tweet'] }}#}
                                        {% for word in tweet['tweet'] %}
                                            {% if word[:1] != '@' %}
                                                {{ word }}
                                            {% else %}
                                               <a class="username_link" href="{{ url_for('view_specific_user', user_id=word[1:])}}"> <i>{{ word }}</i></a>
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="header">
                <h4 class="title custom">User Posted</h4>
                <p class="category custom">Tweets</p>
            </div>
            <div class="content table-responsive table-full-width">
                <table class="table table-striped">
                    <thead>
                        <th class="col-md-12"></th>
                    </thead>
                        {% if tweetDataList == [] %}
                            <tr><td>No Tweets</td></tr>
                        {% else %}
                            {% for tweet in tweetDataList %}
                                <tr>
                                    <td>
                                        <a href="{{ url_for('view_specific_tweet', tweet_id=tweet['_id'])}}"> View Tweet</a>
                                        </br>
                                        {% for word in tweet['tweet'] %}
                                            {% if word[:1] != '@' %}
                                                {{ word }}
                                            {% else %}
                                               <a class="username_link" href="{{ url_for('view_specific_user', user_id=word[1:])}}"> <i>{{ word }}</i></a>
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block customJS %}

{% endblock %}